{% load static %}

 <section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img1.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">João Martinelli</a></h2>
                    <h3><a href="#">Diretor de criação</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">Estou extremamente satisfeito com o resultado final. A Fusion realmente veio para fazer história.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img2.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Maria Prata</a></h2>
                    <h3><a href="#">Designer</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">A importância da tecnologia é a chave da renovação contínua em nosso modo de viver.
                      A Fusion superou minhas expectativas com sua capacidade de tornar um sonho em realidade.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img3.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Wesley Franco</a></h2>
                    <h3><a href="#">Web Disign</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">O web designer projeta sites, blogs, sistemas, aplicativos para web e peças digitais como banners e artes para redes sociais. </p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img4.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Fernanda Anaya</a></h2>
                    <h3><a href="#">Desenvolvedora Back-End</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">O que antes era somente um projeto simples e que não saía do papel,
                      agora se tornou um mega projeto de sucesso graças a Fusion, que tornou tudo possível superando todas as nhas expectativas </p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
