{% load static %}

<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Gerenciamento de estatísticas</p>
                  <h2 class="section-title">Estatísticas detalhadas da sua empresa</h2>
                </div>
                <div class="content">
                  <p>Esse tipo de estratégia é frequente na administração de empresas por possibilitar um agrupamento de dados ou um estudo geral.
                     Essa técnica é considerada um aspecto de destaque da inteligência de negócios e pode ser desenvolvida de diversas formas.
                  </p>
                  <a href="#" class="btn btn-common mt-3">Mais Infomações</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>